7 kompilator kodu w XML python SRCML/inne/Pawel_Czubak_201520_XML_zad7.8/coding.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="unit">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="function" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="type">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="name"/>
              <xs:element name="parameter_list">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="parameter" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="decl">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="type">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="name"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="name"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="block">
                <xs:complexType>
                  <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element name="decl_stmt">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="decl">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="type">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="name"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="name">
                                  <xs:complexType mixed="true">
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="name" minOccurs="0"/>
                                      <xs:element type="xs:string" name="index" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="init">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="expr">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="block" minOccurs="0">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="expr" maxOccurs="unbounded" minOccurs="0">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="literal">
                                                          <xs:complexType>
                                                            <xs:simpleContent>
                                                              <xs:extension base="xs:byte">
                                                                <xs:attribute type="xs:string" name="type" use="optional"/>
                                                              </xs:extension>
                                                            </xs:simpleContent>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="literal" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:byte">
                                                    <xs:attribute type="xs:string" name="type" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="while">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="condition">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="expr">
                                  <xs:complexType>
                                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                                      <xs:element type="xs:string" name="name"/>
                                      <xs:element type="xs:string" name="operator"/>
                                      <xs:element name="literal">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:byte">
                                              <xs:attribute type="xs:string" name="type"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:choice>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="block">
                            <xs:complexType>
                              <xs:choice maxOccurs="unbounded" minOccurs="0">
                                <xs:element name="if">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="condition" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="expr">
                                              <xs:complexType>
                                                <xs:choice maxOccurs="unbounded" minOccurs="0">
                                                  <xs:element name="call">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="name"/>
                                                        <xs:element name="argument_list">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="argument">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element name="expr">
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element type="xs:string" name="name"/>
                                                                        </xs:sequence>
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                  </xs:sequence>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element type="xs:string" name="operator"/>
                                                  <xs:element type="xs:string" name="name"/>
                                                  <xs:element name="literal">
                                                    <xs:complexType>
                                                      <xs:simpleContent>
                                                        <xs:extension base="xs:byte">
                                                          <xs:attribute type="xs:string" name="type"/>
                                                        </xs:extension>
                                                      </xs:simpleContent>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:choice>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="then" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="block">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="expr_stmt" minOccurs="0">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="expr">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="call">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element type="xs:string" name="name"/>
                                                                    <xs:element name="argument_list">
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element name="argument">
                                                                            <xs:complexType>
                                                                              <xs:sequence>
                                                                                <xs:element name="expr">
                                                                                  <xs:complexType>
                                                                                    <xs:sequence>
                                                                                      <xs:element type="xs:string" name="name"/>
                                                                                    </xs:sequence>
                                                                                  </xs:complexType>
                                                                                </xs:element>
                                                                              </xs:sequence>
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                        </xs:sequence>
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                  </xs:sequence>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="return" minOccurs="0">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="expr">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element type="xs:string" name="name"/>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:string" name="type" use="optional"/>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="expr" minOccurs="0">
                                        <xs:complexType>
                                          <xs:choice maxOccurs="unbounded" minOccurs="0">
                                            <xs:element type="xs:string" name="name"/>
                                            <xs:element type="xs:string" name="operator"/>
                                            <xs:element name="literal">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:byte">
                                                    <xs:attribute type="xs:string" name="type"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:choice>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="expr_stmt">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="expr">
                                        <xs:complexType>
                                          <xs:choice maxOccurs="unbounded" minOccurs="0">
                                            <xs:element type="xs:string" name="name"/>
                                            <xs:element type="xs:string" name="operator"/>
                                            <xs:element name="literal">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:byte">
                                                    <xs:attribute type="xs:string" name="type" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="array_name">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="name"/>
                                                  <xs:element type="xs:string" name="index"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:choice>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:choice>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="expr_stmt">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="expr">
                            <xs:complexType>
                              <xs:choice maxOccurs="unbounded" minOccurs="0">
                                <xs:element name="call">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="name"/>
                                      <xs:element name="argument_list">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="argument">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="expr">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="name"/>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="name"/>
                                <xs:element type="xs:string" name="operator"/>
                              </xs:choice>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="return">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="expr">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="literal" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:byte">
                                        <xs:attribute type="xs:string" name="type" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="name" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="if">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="condition">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="expr">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="name"/>
                                      <xs:element type="xs:string" name="operator"/>
                                      <xs:element name="literal">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:byte">
                                              <xs:attribute type="xs:string" name="type"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="then">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="block">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="return">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="expr">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="name"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="type"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>